@import "src/scss/variables";
@import "src/scss/mixins";

.footer__container {
  @include flex(space-between, center, row);
  border-top: 1px solid #E5E5E5;
  padding: 10px 0;
  @include tablet {
    flex-direction: column;
  }
}

.footer__rights {
  span {
    color: $colorSecondary;
  }
}

.footer__form {
  @include flex(center, streach, row);
  @include tablet {
    margin: 20px 0;
  }

}

.footer__email {
  width: 230px;
  height: 40px;
  border: 1px solid #E7E7E7;
}

input[type=submit] {
  background-color: $colorTertiary;
  color: $colorFontWhite;
  padding: 9px 14px;
}