@use "variables";
@use "mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

html {
  font-family: variables.$fontPrimary;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  @include mixins.tablet {
    padding: 0 4%;

  }
}

.section__title {
  color: variables.$colorFontPrimary;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 50px 0;
  @include mixins.flex(center, center, column);

  &:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: variables.$colorSecondary;
    margin-top: 40px;
  }
}