$colorFontWhite: #fff;
$colorFontPrimary: #333333;
$colorFontSecondary: #999999;

$colorPrimary: #FCE38A;
$colorSecondary: #F38181;
$colorTertiary: #95E1D3;

$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Roboto', sans-serif;